html {
background-color:  #a9957b;
font-family: monospace, serif;
}

.title {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: 450px;
}

#Layer_1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
