html {
background-color:  #a9957b;
font-family: monospace, serif;
}

.title {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: 450px;
}

#Layer_1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

a:hover {
  animation: bounce 1s;
    }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
